# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [1]:
number = 6

print(number)

6

##### Assinging float

In [3]:
numberFloat = 2.3
print(numberFloat)
numberFloat = 7.2
print(numberFloat)

2.3
7.2

#### Performing Calculations on ints and floats

##### Addition

In [5]:
num1 = 2
num2 = 5.4

result = num1 + num2

print(result)

result += 2
print(result)

7.4
9.4

##### Subtraction

In [8]:
result_diff = num2 - num1

print(result_diff)

result_diff -= 1
print(result_diff - 1)

3.4000000000000004
1.4000000000000004

##### Multiplication

In [10]:
result_mul = num1 * num2
print(result_mul)

result_mul *= 2
print(result_mul)

10.8
21.6

##### Division

In [11]:
result_div = num2/num1
print(result_div)

result_div /= 3
print(result_div)

2.7
0.9

##### Floor Division

In [13]:
result_floor = num2 // num1
print(result_floor)

result_floor //= 2
print(result_floor)

2.0
1.0

##### Modulo

In [15]:
result_mod = num2 % num1
print(result_mod)

result_mod %= 2
print(result_mod)

1.4000000000000004
1.4000000000000004

##### Exponential

In [52]:
square = 5 ** 2
print(square)

square **= 2
print(square)

25
15625

### String Input-Output

##### String Assignment

In [18]:
name = "Mara"
print(name)

Mara

##### print() <br>
<p>Don't forget about end=' '</p>

In [21]:
print("This is my first name:", name)

print("Full Name:", name, end=" Adams")

This is my first name: Mara
Full Name: Mara Adams

##### String Concatenation

In [25]:
first_name = "John"
last_name = "Doe"

full_name = first_name + " " + last_name
print(full_name)

full_name += ' Jr'
print(full_name)

John Doe
John Doe Jr

##### Type Conversion

In [27]:
number = "32"

change_type_num = int(number)
print(number)
print(change_type_num)

32
33

##### input()

In [31]:
# input will always return a string

# name = input('what is your name?')
# print(name)

age = int(input('how old are you?'))
add_age = age + 5
print(add_age)

how old are you?2313
2318

##### format()

In [33]:
age = input('what is your age? ')

result_string = 'you are {} {} and you are getting wiser '.format(age, name)
print(result_string)

result_again = f"{age} is a great time in life!"
print(result_again)

what is your age? 19
you are 19 mara and you are getting wiser
19 is a great time in life!

##### Old Way (python 2)

In [35]:
result_string2 = "you are %s and you look great for your age!" %age
print(result_string2)

you are 19 and you look great for your age!

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [39]:
car_color = input('what color is your car? ')
car_year = int(input('what year was your car made? '))
car_make = input('what is the make of your car? ')
car_model = input('what is the model of your car? ')

your_car = 'you have a {} {} {} {}!'.format(car_color, car_year, car_make, car_model)
print(your_car)

what color is your car? black
what year was your car made? 2011
what is the make of your car? honda
what is the model of your car? accord
you have a black 2011 honda accord!

### If Statements

In [47]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

num1 = 5
num2 = 5

# if num1 == 6:
#     print('this is true')
# else:
#     print('this is false')
    
if num2 > num1:
    print("num2 is greater")
elif num1 > num2:
    print('num1 is greater')
else:
    print('equal values')

equal values

##### 'is' keyword

In [48]:
# this 'is' keyword is for checking the same object, but not the same value

num3 = 55

if num3 is 55:
    print('this is the exact number/object')

this is the exact number/object

<>:5: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:5: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\sydad\AppData\Local\Temp\ipykernel_13948\2600346220.py:5: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if num3 is 55:

##### 'in' keyword

In [50]:
# check if a character is in a string

char_name = "frodo baggins"

if 'frodo' in char_name:
    print('the ring bearer')

##### 'not in' keyword'

In [52]:
sega_char = 'sonic'

if 'a' not in sega_char:
    print('a is NOT here')

a is NOT here

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [55]:
name = input('what is your name? ')

if 'p' in name:
    print('p in name')
else:
    print('no p in name')

what is your name? patrick
p in name

## Using 'and'/'or' with If Statements

In [3]:
num_11 = 15
num_12 = 3
num_13 = 10
num_14 = 3

# if with 'and' statment
if num_11 / 5 == num_12 and num_13 - 7 == num_14:
    print('True and True')
    
# if with 'or' statement
if num_11 > num_12 or num_13 == num_14:
    print("True and False")

True and True
True and False

### Elif Statements

In [7]:
first_name = input('what is your name? ')
if first_name == 'smith':
    print('the name is smith')
elif first_name == 'mara':
    print('the name is mara')
elif first_name != 'max':
    print('the name is NOT max')
else:
    print('the name is max')

what is your name? max
the name is max

### Else Statements

In [ ]:
# see above

### For Loops

In [14]:
# Syntax:
# for counter in condition

name = 'mara adams'

for letter in name:
    print(letter)

M
A
R
A

A
D
A
M
S

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [17]:
for i in range(20):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Break Statement

In [ ]:
# will break out of current loop

In [18]:
for i in range(20):
    if i == 5:
        break
    print(i)

0
1
2
3
4

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [19]:
for i in name:
    pass

##### Double For Loops

In [20]:
for i in range(5):
    for j in range(5):
        print('i = ', i, 'j = ', j)

i =  0 j =  0
i =  0 j =  1
i =  0 j =  2
i =  0 j =  3
i =  0 j =  4
i =  1 j =  0
i =  1 j =  1
i =  1 j =  2
i =  1 j =  3
i =  1 j =  4
i =  2 j =  0
i =  2 j =  1
i =  2 j =  2
i =  2 j =  3
i =  2 j =  4
i =  3 j =  0
i =  3 j =  1
i =  3 j =  2
i =  3 j =  3
i =  3 j =  4
i =  4 j =  0
i =  4 j =  1
i =  4 j =  2
i =  4 j =  3
i =  4 j =  4

### While Loops

In [21]:
# Syntax:
# while keyword, condition statement

num = 0

while num < 10:
    print(num)
    num += 1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [26]:
game_over = True

while game_over:
    print('infinite loop')
    user_input = input("would you like to stop? ")
    if user_input == 'yes':
        game_over = False

infinite loop
would you like to stop? fsd
infinite loop
would you like to stop? yes

##### While & For Loops Used Together

In [28]:
num = 0

while num < 5:
    print('\nwhile loop iteration: ' + str(num))
    
    for i in range(2):
        print('for loop iteration: ', str(i))
        
    num += 1

while loop iteration: 0
for loop iteration:  0
for loop iteration:  1

while loop iteration: 1
for loop iteration:  0
for loop iteration:  1

while loop iteration: 2
for loop iteration:  0
for loop iteration:  1

while loop iteration: 3
for loop iteration:  0
for loop iteration:  1

while loop iteration: 4
for loop iteration:  0
for loop iteration:  1

### Built-In Functions

##### range()

In [37]:
# range(start, stop, step)

for i in range(1, 20, 3):
    print(i)

1
4
7
10
13
16
19

##### len()

In [39]:
name = input('give me the name of your favorite book: ')

length = len(name)

print(length)

give me the name of your favorite book: harry potter
12

##### help()

In [41]:
# use this function to view more info about a python function

help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

##### isinstance()

In [43]:
# check a variable to find out what object family or data type it belongs to
# isinstance(var, type)

print(isinstance(4.5, int))

if isinstance(4.5, float):
    print('this number is a float type')

False
this number is a float type

##### abs()

In [44]:
# |-5| = 5

print(abs(-5))

5

### Try and Except

In [48]:
# use this to log out graceful and useful error messages
# does not stop the program

try:
    number_test = 0
    input_num = int(input('guess a number'))
    print('your number is: ' + str(input_num))
except:
    print('that didnt work! change your input to a number!')

guess a numberfjkds
that didnt work! change your input to a number!

### Lists

##### Declaring Lists

In [23]:
list_1 = []

names = ['max', 'cindi', 'cathy', 'bob', 'nate']
print(names)

['max', 'cindi', 'cathy', 'bob', 'nate']

##### Indexing a List

In [22]:
# list_name[start: stop: step:]

# single index
print(names[0])

# print starting at index 1 going to the end
print(names[1:])

# print starting at the beginning up until a number
print(names[:2])

# print starting at index 1 and going up by 2
print(names[1::2])

# print starting at back and present in reverese order
print(names[::-1])

max
['cindi', 'nate', 'devon', 'mara']
['max', 'cindi']
['cindi', 'devon']
['mara', 'devon', 'nate', 'cindi', 'max']

##### .append()

In [21]:
names.append('mara')
print(names)

['max', 'cindi', 'nate', 'devon', 'mara']

##### .insert()

In [20]:
names.insert(3, 'devon')
print(names)

['max', 'cindi', 'nate', 'devon']

##### .pop()

In [19]:
# defaults to the last value if no value is given
# pop returns the element that was removed

my_name = names.pop(2)
print(my_name)

cathy


##### .remove()

In [24]:
# value to be removed rather than index
names.remove('bob')
print(names)

# remove multiple values
while 'mara' in names:
    names.remove('mara')
print(names)

['max', 'cindi', 'cathy', 'nate']
['max', 'cindi', 'cathy', 'nate']

##### del()

In [25]:
# goes by index rather than value
# can cause indexing errros

del(names[1])
print(names)

['max', 'cathy', 'nate']

##### Concatenating Two Lists

In [29]:
# will append two lists together, will NOT add the values

list_2 = [0,1,2]
list_3 = [3,4,5]

large_list = list_2 + list_3
print(large_list)

[0, 1, 2, 3, 4, 5]

##### Lists Within Lists

In [28]:
# lists can hold any type of other elemet: including other lists - called nested lists

names = ['max', 'sam', 'josh', ['sally', ['sue', 'jim'], 'tameka']]
print(names)
print(names[3][1][1])

['max', 'sam', 'josh', ['sally', ['sue', 'jim'], 'tameka']]
jim

##### Looping Through Lists

In [31]:
# two ways to loop thru a list: one by index, the other by using the 'in' keyword

# by index
for i in range(len(names)):
    print(names[i])
    
# loop with 'in'
for i in names:
    print(i)

max
sam
josh
['sally', ['sue', 'jim'], 'tameka']
max
sam
josh
['sally', ['sue', 'jim'], 'tameka']

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [68]:
i = 1
while True:
    cubed = i**3
    if cubed > 1000:
        break
    print(cubed)
    i += 1

1
8
27
64
125
216
343
512
729
1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [7]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

for num in range(2, 100 + 1):
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            break
    else:
        print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [40]:
age = int(input("how old are you? "))

if age < 18:
    print("kids")
elif age < 65:
    print("adults")
else:
    print("seniors")

how old are you? 1000000
seniors